* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

header {
  background-color: rgba(233, 197, 99, 0.65);
}
body {
  background-color: rgb(225, 226, 220);
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 47%;
  display: block;
  float: left;
  justify-content: space-between;
  font-size: 30px;
}

a:link {
  color: darkblue;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.intro {
  font-size: 60px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #ff0000;
}

.container {
  width: auto;
  height: 400px;
  display: flex;
}

li {
  line-height: 40px;
  padding-left: 20px;
  display: inline;
}
ul {
  float: right;
}
a {
  color: #fff;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin: 50px;
}

h1 {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  text-shadow: 2px 2px #ff0000;
}

#p1,
#p2,
#p3,
#p4 {
  border: 5px solid rgb(194, 127, 2);
  background-color: rgba(233, 197, 99, 0.65);
  margin-right: 5px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

button {
  border: 5px solid rgb(194, 127, 2);
  background-color: #fff;
  color: rgb(194, 127, 2);
  padding: 1%;
  text-align: center;
  /* position: relative; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  width: 25%;
  font-family: "Raleway", sans-serif;
  text-shadow: 0.5px 1px #ff0000;
  margin: 0;
  position: relative;
  top: 50%;
  left: 37%;
}
